body{
  font-family: sans-serif;
  font-weight: 300;
  background-color: #eaeaea;
  text-align: center;
}

#mount-point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  margin-top: 10px;
}

form {
  text-align: left;
}
